@import "normalize.css";
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
:root {
  --default-header-background-color: #fff;
  --white: #fff;
  --gray: #f1f1f2;
  --font-size-base: 14px;
  --default-header-height: 50px;
  --default-search-width: 250px;
  --default-search-height: 40px;
  --default-image-height: 50px;
  --default-background-color: #ecf3ff;
  --default-comment-color: #f1f1f2;
  --default-color: #4ea1d3;
  --default-dark-color: #6474e5;
  --default-text-color: #1a1a1a;
  --default-danger-color: #f4a4a4;

  --default-font-size: 18px;
  --default-light-height-dark: 1.4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  font-size: 1.6rem;
  font-family: "Segoe UI", sans-serif;
  overflow-x: auto;
  overflow-y: scroll;
  height: 100%;
}

button,
input,
[tabindex] {
  outline: none;
  border: none;
}
input {
  font-size: var(--default-font-size) !important;
}

li {
  list-style: none;
  display: -webkit-box;
  align-items: center;
  margin-bottom: 20px;
  cursor: pointer;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
ul {
  margin-top: 0;
  margin-bottom: 1rem;
}
ul {
  padding-left: 0rem !important;
}
p {
  margin-right: 85px;
}