.wrapper {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0px 5px;
  color: #000;
  cursor: pointer;
  background-color: transparent;
  user-select: none;

  + .wrapper {
    margin-left: 10px;
  }
  Disbled &.disabled {
    pointer-events: none;
    opacity: 0.5;
  }
}
.title {
  padding: 0;
  margin: 0;
}
.icon + .title,
.title + .icon {
  margin-left: 8px;
}

//button types
.textLeft {
  justify-content: left;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  padding: 5px;
  color: #000;
  opacity: 0.67;
  &:hover {
    color: #000;
    background-color: #fff;
    opacity: 1.5;
  }
  + .wrapper {
    margin-left: 0px;
  }
}
.circle {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  color: #000;
  background-color: var(--default-background-color);
}

.primary {
  border-radius: 5px;
  background-color: var(--gray);
  font-weight: 600px;
  padding: 7px;
  &:hover {
    border-radius: 5px;
    opacity: 0.67;
  }
}

.text {
  padding: 10px;
  border-radius: 7px;
  color: var(--default-text-color);
  &:hover {
    background-color: var(--default-background-color);
    opacity: 0.67;
  }
}

//button size
.small {
  min-width: 70px;
  height: 40px;
}

.large {
  width: 100%;
  min-height: 40px;
}
