.container {
  margin: 0;
  .header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    padding: 0;
    width: 100%;
    display: block;
    height: var(--default-header-height);
    .header-wrapper {
      z-index: 99;
      background-color: var(--default-header-background-color);
    }
  }
  .content {
    height: 1000px;
    background-color: var(--default-background-color);
    margin-top: var(--default-header-height);
  }
  .left-bar {
    padding-left: 50px;
  }
  .right-bar {
    padding-right: 50px;
  }
  .content-wrapper {
    margin: 0px 100px;
  }
}
