.container {
  margin: 0;
  .header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    padding: 0;
    width: 100%;
    display: block;
    height: var(--default-header-height);
    .header-wrapper {
      z-index: 99;
      background-color: var(--default-header-background-color);
    }
  }
  .content {
    background-color: var(--default-background-color);
    margin-top: var(--default-header-height);
    min-height: 700px;
  }
  .left-bar {
    padding-left: 20px;
    position: fixed;
    top: var(--default-header-height);
    left: 0;
  }
  .right-bar {
    padding-right: 20px;
    position: fixed;
    top: var(--default-header-height);
    right: 0;
  }
  .menu {
    max-width: 200px;
    min-width: 200px;
    padding-left: 20px;
    position: fixed;
    top: var(--default-header-height);
    left: 55px;
  }
  .content-wrapper {
    padding: 0px 100px;
  }
  .wrapper {
    margin: 0px 0px 0px 255px;
    min-width: 100px;
    width: calc(100% - 255px);
  }
}
