.fr-card {
  border-radius: 7px !important;
  border-color: #e1e7ec;
  margin: 0px 10px 10px 0px;
}
.btn-remove {
  background-color: var(--gray);
  border-radius: 4px;
  width: 100%;
}
.btn-accept {
  border-radius: 4px;
  background-color: var(--blue);
  width: 100%;
  margin-bottom: 5px;
}
.btn-accepted {
  border-radius: 4px;
  background-color: #87cefa;
  width: 100%;
  margin-bottom: 5px;
}
.btn-removed {
  background-color: #d3d3d3;
  width: 100%;
}
