.fr-card {
    border-radius: 7px !important;
    border-color: #e1e7ec;
}
a.btn.btn-remove {
    background-color: #D3D3D3;
    width: 100%;
}
a.btn.btn-primary {
    background-color: #5997f3;
    width: 100%;
    margin-bottom: 5px;
}