.main-container {
  width: 100%;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
  box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
  margin: 30px 0;
  background-color: var(--default-header-background-color);
}

.container {
  padding: 10px;
  margin: 0 20px;
}

.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top-left {
  display: flex;
  align-items: center;
}

.profile-img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
}

.username {
  font-size: 15px;
  font-weight: 500;
  margin: 0 10px;
}

.date {
  font-size: 12px;
}

.top-right {
  cursor: pointer;
  position: relative;
  .show-action {
    position: absolute;
    top: 25px;
    right: 0px;
    border: 1px solid #f1f1f2;
    border-radius: 5px;
    background-color: var(--default-background-color);
    padding: 5px;
  }
}

.content {
  margin: 20px 0;
}

.post-img {
  margin-top: 20px;
  width: 100%;
  max-height: 500px;
  object-fit: contain;
}

.bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bottom-left {
  display: flex;
  align-items: center;
  .icon-heart-checked {
    color: red;
  }
  .icon-heart {
    &:hover {
      color: red;
    }
  }
}

.like-icon {
  width: 24px;
  height: 24px;
  margin-right: 5px;
  cursor: pointer;
}

.like-counter {
  font-size: 15px;
}
