.container {
  background-color: var(--default-header-background-color);
  height: var(--default-header-height);
  border-bottom: 1px solid var(--default-background-color);
  .logo {
    margin-left: 50px;
    height: calc(var(--default-image-height) - 2px);
    background-color: var(--default-color);
  }
  .searchbar {
    position: relative;
    height: var(--default-search-height);
    border: 0;
    outline: 0;
    background: #ebedf0;
    padding: 0px 15px;
    border-radius: 50px 50px;
  }
  .search-input {
    position: absolute;
    width: calc(100% - 50px);
    height: var(--default-search-height);
    color: #000;
    border: 0;
    outline: 0;
    background: #ebedf0;
    padding: 0px 2px;
    transition: width 0.4s linear;
    caret-color: rgba(63, 118, 82, 0.67) red;
    animation-name: fadeIn;
    animation-duration: 0.5s;
    border: 1.5px solid #ebedf0;
  }
  .search-icon {
    margin-top: 13px;
    color: #ccd0d5;
    font-size: medium;
    position: absolute;
    z-index: 10;
    top: 0px;
    left: 10px;
  }
  .action {
    margin-right: 50px;
    .user-image {
      position: relative;

      .avatar {
        width: 40px;
        height: 40px;
        border-radius: 50%;
      }
      .user-icon {
        position: absolute;
        bottom: -5px;
        right: 0px;
        width: 12px;
        height: 12px;
        color: #000;
        font-size: small;
        font-weight: 300;
        border-radius: 50px 50px;
        background-color: #ccd0d5;
        border: 2px solid #fff;
      }
    }
  }
}
